<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.matchday.virtualbet" android:versionCode="16" android:versionName="1.5.0-caidian-auto-settle">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:theme="@style/AppTheme" android:label="竞彩虚拟投注" android:usesCleartextTraffic="false" android:allowBackup="true">
        <service android:name=".ResultJob" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
